<template>
    <div>
        <h3 class="text-center">Add Client</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addClient">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="client.name">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" v-model="client.email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" v-model="client.password">
                    </div>
                    <button type="submit" :disabled='isDisabled' class="btn btn-primary">Add Client</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                client: {}
            }
        },
        computed: {
            isDisabled: function(){
                return (!this.client.name || !this.client.email || !this.client.password);
            }
        },
        methods: {
            addClient() {
                this.axios
                    .post('http://laravelmessenger.com/api/client/add', this.client)
                    .then(response => (
                        this.$router.push({name: 'home'})
                    ))
                    .catch(error => console.log(error))
                    .finally(() => this.loading = false)
            }
        }
    }
</script>