<template>
    <div>
        <h3 class="text-center">All Clients</h3><br/>

        <table class="table table-bordered" v-if="clients != 0">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="client in clients" :key="client.id">
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.password }}</td>
                <td>{{ client.created_at | moment }}</td>
                <td>{{ client.updated_at | moment }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'edit', params: { id: client.id }}" class="btn btn-primary">Edit
                        </router-link> &nbsp;
                        <button class="btn btn-danger" @click="deleteClient(client.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="alert alert-dismissible alert-danger" v-else>
            <strong>Oh snap!</strong> Clients not found.
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        data() {
            return {
                clients: []
            }
        },
        created() {
            this.axios
                .get('http://laravelmessenger.com/api/client')
                .then(response => {
                    this.clients = response.data;
                });
                console.log(this.clients);
        },
        methods: {
            deleteClient(id) {
                this.axios
                    .delete(`http://laravelmessenger.com/api/client/delete/${id}`)
                    .then(response => {
                        let i = this.clients.map(item => item.id).indexOf(id); // find index of your object
                        this.clients.splice(i, 1)
                    });
            },
            moment: function () {
                return moment();
            }
        },
        filters: {
            moment: function (date) {
                return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            }
        }
    }
</script>