<template>
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <router-link to="/" class="nav-item nav-link">Home</router-link>
      </li>
      <li cass="nav-item">
          <router-link to="/add" class="nav-item nav-link">Add Client</router-link>
      </li>
      <li cass="nav-item">
          <router-link to="/partcode" class="nav-item nav-link">Part Code</router-link>
      </li>      
    </ul>
    
  </div>
</nav>
<div class="container">
    <br/>
    <router-view></router-view>
</div>
</div>
</template>

<script>
    export default {}
</script>