<template>
    <div>
        <h3 class="text-center">Edit Client</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updateClient">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="client.name">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" v-model="client.email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" v-model="client.password">
                    </div>
                    <button type="submit" class="btn btn-primary">Update client</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                client: {}
            }
        },
        created() {
            this.axios
                .get(`http://laravelmessenger.com/api/client/edit/${this.$route.params.id}`)
                .then((response) => {
                    this.client = response.data;
                });
        },
        methods: {
            updateClient() {
                this.axios
                    .post(`http://laravelmessenger.com/api/client/update/${this.$route.params.id}`, this.client)
                    .then((response) => {
                        this.$router.push({name: 'home'});
                    });
            }
        }
    }
</script>