<template>
  <div>
    <h1 class="text-center" v-on:click="setFormData">Partcode</h1>
    <div class="row">
      <div class="col-md-3">
        <div for="no" class="form-group">
        <label>No</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="no" v-model="no" />
        </div>
      </div>

      <div class="col-md-3">
        <div for="model" class="form-group">
        <label>Model</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="model" v-model="model" />
        </div>
      </div>

      <div class="col-md-3">
        <div for="rawSizeDiaMM" class="form-group">
        <label>Raw Size Dia MM</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="rawSizeDiaMM" v-model="rawSizeDiaMM"/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="rawSizeLengthMM" class="form-group">
        <label>Raw Size Length MM</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="rawSizeLengthMM" v-model="rawSizeLengthMM" />
        </div>
      </div>

      <div class="col-md-3">
        <div for="finishSizeDiaMM" class="form-group">
        <label>Finish Size Dia MM</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="finishSizeDiaMM" v-model="finishSizeDiaMM" />
        </div>
      </div>

      <div class="col-md-3">
        <div for="finishSizeLengthMM" class="form-group">
        <label>Finish Size Length MM</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="finishSizeLengthMM" v-model="finishSizeLengthMM" />
        </div>
      </div>

      <div class="col-md-3">
        <div for="finishSizeWeightKg" class="form-group">
        <label>Finish Size Weight Kg</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="finishSizeWeightKg" v-model="finishSizeWeightKg"  readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="finishSizeIDWeightKg" class="form-group">
        <label>Finish Size ID Weight Kg</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="finishSizeIDWeightKg" v-model="finishSizeIDWeightKg"  readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="finishSizeFinalWeightKg" class="form-group">
        <label>Finish Size Final Weight Kg</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="finishSizeFinalWeightKg" v-model="finishSizeFinalWeightKg"  readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="roughMachiningTime" class="form-group">
        <label>Rough Machining Time</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="roughMachiningTime" v-model="roughMachiningTime" />
        </div>
      </div>

      <div class="col-md-3">
        <div for="roughMachiningRateHour" class="form-group">
        <label>Rough Machining Rate Hour</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="roughMachiningRateHour" v-model="roughMachiningRateHour"  readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="roughMachiningRateHourReport" class="form-group">
        <label>Rough Machining Rate Hour Report</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="roughMachiningRateHourReport" v-model="roughMachiningRateHourReport" readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="deepHoleDrillingRateMM" class="form-group">
        <label>Deep Hole Drilling Rate MM</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="deepHoleDrillingRateMM" v-model="deepHoleDrillingRateMM"  readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="deepHoleDrillingRateMMReport" class="form-group">
        <label>Deep Hole Drilling Rate MM Report</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="deepHoleDrillingRateMMReport" v-model="deepHoleDrillingRateMMReport"  readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="stabilizingPerKg" class="form-group">
        <label>Stabilizing Per Kg</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="stabilizingPerKg" v-model="stabilizingPerKg"  readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="stabilizingPerKgReport" class="form-group">
        <label>Stabilizing Per Kg Report</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="stabilizingPerKgReport" v-model="stabilizingPerKgReport"  readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="honningRsPerMM" class="form-group">
        <label>Honning Rs Per MM</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="honningRsPerMM" v-model="honningRsPerMM"  readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="honningRsPerMMReport" class="form-group">
        <label>Honning Rs Per MM Report</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="honningRsPerMMReport" v-model="honningRsPerMMReport"  readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="finishMachiningTime" class="form-group">
        <label>Finish Machining Time</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="finishMachiningTime" v-model="finishMachiningTime" />
        </div>
      </div>

      <div class="col-md-3">
        <div for="finalTurningCostHour" class="form-group">
        <label>Final Turning Cost Hour</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="finalTurningCostHour" v-model="finalTurningCostHour" readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="finalTurningCostHourReport" class="form-group">
        <label>Final Turning Cost Hour Report</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="finalTurningCostHourReport" v-model="finalTurningCostHourReport" readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="drillingHopperTime" class="form-group">
        <label>Drilling Hopper Time</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="drillingHopperTime" v-model="drillingHopperTime" />
        </div>
      </div>

      <div class="col-md-3">
        <div for="drillingHopperBoringCostHour" class="form-group">
        <label>Drilling Hopper Boring Cost Hour</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="drillingHopperBoringCostHour" v-model="drillingHopperBoringCostHour" readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="drillingHopperBoringCostHourReport" class="form-group">
        <label>Drilling Hopper Boring Cost Hour Report</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="drillingHopperBoringCostHourReport" v-model="drillingHopperBoringCostHourReport" readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="nutMachining" class="form-group">
        <label>Nut Machining</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="nutMachining" v-model="nutMachining" />
        </div>
      </div>

      <div class="col-md-3">
        <div for="NT" class="form-group">
        <label>NT</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="NT" v-model="NT" readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="honningAfterNitridingCostMMReport" class="form-group">
        <label>Honning After Nitriding Cost MM Report</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="honningAfterNitridingCostMMReport" v-model="honningAfterNitridingCostMMReport" readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="honningAfterNitridingCostMM" class="form-group">
        <label>Honning After Nitriding Cost MM</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="honningAfterNitridingCostMM" v-model="honningAfterNitridingCostMM"/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="grindingOperationCost" class="form-group">
        <label>Grinding Operation Cost</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="grindingOperationCost" v-model="grindingOperationCost" />
        </div>
      </div>

      <div class="col-md-3">
        <div for="finalMchiningCost" class="form-group">
        <label>Final Mchining Cost</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="finalMchiningCost" v-model="finalMchiningCost" readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="profitPer" class="form-group">
        <label>Profit Per</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="profitPer" v-model="profitPer" readonly/>
        </div>
      </div>

      <div class="col-md-3">
        <div for="finalRate" class="form-group">
        <label>Final Rate</label>
          <input v-on:keyup="doCalculation" type="text" class="form-control" id="finalRate" v-model="finalRate" readonly/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { parse } from 'path';
export default {
  data() {
    return {
      no: "11844254",
      model: "Barrel Dia 135mm",
      rawSizeDiaMM: 0,
      rawSizeLengthMM: 0,
      finishSizeDiaMM: 0,
      finishSizeLengthMM: 0,
      finishSizeWeightKg: 0,
      finishSizeIDWeightKg: 302,
      finishSizeFinalWeightKg: 0,
      roughMachiningTime: 0,
      roughMachiningRateHour: 300,
      roughMachiningRateHourReport: 0,
      deepHoleDrillingRateMM: 10,
      deepHoleDrillingRateMMReport: 0,
      stabilizingPerKg: 6.50,
      stabilizingPerKgReport: 0,
      honningRsPerMM: 4,
      honningRsPerMMReport: 0,
      finishMachiningTime: 0,
      finalTurningCostHour: 600,
      drillingHopperTime: 0,
      drillingHopperBoringCostHour: 450,
      drillingHopperBoringCostHourReport: 0,
      finalTurningCostHourReport:0,
      nutMachining: 0,
      NT: 0,
      honningAfterNitridingCostMM: 1.5,
      honningAfterNitridingCostMMReport: 0,
      grindingOperationCost: 0,
      finalMchiningCost: 0,
      profitPer: 0,
      finalRate: 0
    };
  },
  computed: {
    isDisabled: function() {
      return !this.client.name || !this.client.email || !this.client.password;
    }
  },
  mounted: function() {
      this.setFormData();
  },
  methods: {
    setFormData: function(event) {
        this.no = JSON.parse(localStorage.getItem('formData')).no;
        this.model = JSON.parse(localStorage.getItem('formData')).model;
        this.rawSizeDiaMM = JSON.parse(localStorage.getItem('formData')).rawSizeDiaMM;
        this.rawSizeLengthMM = JSON.parse(localStorage.getItem('formData')).rawSizeLengthMM;
        this.finishSizeDiaMM = JSON.parse(localStorage.getItem('formData')).finishSizeDiaMM;
        this.finishSizeLengthMM = JSON.parse(localStorage.getItem('formData')).finishSizeLengthMM;
        this.finishSizeWeightKg = JSON.parse(localStorage.getItem('formData')).finishSizeWeightKg;
        this.finishSizeIDWeightKg = JSON.parse(localStorage.getItem('formData')).finishSizeIDWeightKg;
        this.finishSizeFinalWeightKg = JSON.parse(localStorage.getItem('formData')).finishSizeFinalWeightKg;
        this.roughMachiningTime = JSON.parse(localStorage.getItem('formData')).roughMachiningTime;
        this.roughMachiningRateHour = JSON.parse(localStorage.getItem('formData')).roughMachiningRateHour;
        this.roughMachiningRateHourReport = JSON.parse(localStorage.getItem('formData')).roughMachiningRateHourReport;
        this.deepHoleDrillingRateMM = JSON.parse(localStorage.getItem('formData')).deepHoleDrillingRateMM;
        this.deepHoleDrillingRateMMReport = JSON.parse(localStorage.getItem('formData')).deepHoleDrillingRateMMReport;
        this.stabilizingPerKg = JSON.parse(localStorage.getItem('formData')).stabilizingPerKg;
        this.stabilizingPerKgReport = JSON.parse(localStorage.getItem('formData')).stabilizingPerKgReport;
        this.honningRsPerMM = JSON.parse(localStorage.getItem('formData')).honningRsPerMM;
        this.honningRsPerMMReport = JSON.parse(localStorage.getItem('formData')).honningRsPerMMReport;
        this.finishMachiningTime = JSON.parse(localStorage.getItem('formData')).finishMachiningTime;
        this.finalTurningCostHour = JSON.parse(localStorage.getItem('formData')).finalTurningCostHour;
        this.drillingHopperTime = JSON.parse(localStorage.getItem('formData')).drillingHopperTime;
        this.drillingHopperBoringCostHour = JSON.parse(localStorage.getItem('formData')).drillingHopperBoringCostHour;
        this.drillingHopperBoringCostHourReport = JSON.parse(localStorage.getItem('formData')).drillingHopperBoringCostHourReport;
        this.finalTurningCostHourReport = JSON.parse(localStorage.getItem('formData')).finalTurningCostHourReport;
        this.nutMachining = JSON.parse(localStorage.getItem('formData')).nutMachining;
        this.NT = JSON.parse(localStorage.getItem('formData')).NT;
        this.honningAfterNitridingCostMM = JSON.parse(localStorage.getItem('formData')).honningAfterNitridingCostMM;
        this.honningAfterNitridingCostMMReport = JSON.parse(localStorage.getItem('formData')).honningAfterNitridingCostMMReport;
        this.grindingOperationCost = JSON.parse(localStorage.getItem('formData')).grindingOperationCost;
        this.finalMchiningCost = JSON.parse(localStorage.getItem('formData')).finalMchiningCost;
        this.profitPer = JSON.parse(localStorage.getItem('formData')).profitPer;
        this.finalRate = JSON.parse(localStorage.getItem('formData')).finalRate;
    },
    doCalculation: function(event) {
        this.nutMachining = parseFloat(this.nutMachining);
        this.grindingOperationCost = parseFloat(this.grindingOperationCost);
        this.finishSizeWeightKg = 0.006162*this.finishSizeDiaMM*this.finishSizeDiaMM*this.finishSizeLengthMM/1000;
        this.finishSizeFinalWeightKg = this.finishSizeWeightKg - this.finishSizeIDWeightKg;
        this.roughMachiningRateHourReport = this.roughMachiningTime * this.roughMachiningRateHour;
        this.deepHoleDrillingRateMMReport = this.finishSizeLengthMM * this.deepHoleDrillingRateMM;
        this.stabilizingPerKgReport = this.finishSizeFinalWeightKg * this.stabilizingPerKg;
        this.honningRsPerMMReport = this.finishSizeLengthMM * this.honningRsPerMM;
        this.finalTurningCostHourReport = this.finishMachiningTime * this.finalTurningCostHour;
        this.drillingHopperBoringCostHourReport = this.drillingHopperTime * this.drillingHopperBoringCostHour;
        this.honningAfterNitridingCostMMReport = this.finishSizeLengthMM * this.honningAfterNitridingCostMM;
        this.finalMchiningCost = this.roughMachiningRateHourReport + this.deepHoleDrillingRateMMReport + this.stabilizingPerKgReport + this.honningRsPerMMReport + this.finalTurningCostHourReport + this.drillingHopperBoringCostHourReport + this.nutMachining + this.honningAfterNitridingCostMMReport + this.grindingOperationCost;
        this.profitPer = this.finalMchiningCost * 0.1;
        this.finalRate = this.finalMchiningCost + this.profitPer;
        localStorage.setItem('formData',JSON.stringify(this.$data));
    }
  }
};
</script>